@{ ViewData["Title"] = "Kế Hoạch Đặt Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="margin-bottom:8px; ">
                <h1>Kế Hoạch Đặt Hàng</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right" style="margin-bottom:5px;">
                    <button type="button" onclick="window.location.href='/OrderPlans/Index'" class="btn btn-dark">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!--Tạo kế hoạch đặt hàng-->
@await Html.PartialAsync("CreateOrderPlans")
