@{ ViewData["Title"] = "Kế Hoạch Đặt Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="margin-bottom:8px; ">
                <h1>Kế Hoạch Đặt Hàng</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right" style="margin-bottom:5px;">
                    <button type="button" class="btn btn-block bg-gradient-success" data-toggle="modal" data-target="#modalThem">
                        <i class="fas fa-plus"></i>
                        Tạo Kế Hoạch
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>