<section class="content">
    <!-- Default box -->
    <div class="card collapsed-box">
        <div class="card-header">
            <h3 class="card-title">Kế Hoạch Đặt Hàng Đã Hoàn Thành</h3>

            <div class="card-tools">
                <span title="Chờ Duyệt" data-toggle="tooltip" data-placement="top" class="badge badge-warning" id="KiemDuyetPhieu">0</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="display: none; background-color: #F5F5F5;">
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row" id="peP">
                        <!-- Left col -->
                        <section class="col-lg-6 connectedSortable" id="leftCol">
                        </section>

                        <!--Right-->
                        <section class="col-lg-6 connectedSortable" id="rightCol">
                        </section>

                        <!-- right col -->
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
        </div>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
</section>