@using KhoaLuan.ViewModels.Common;
@using KhoaLuan.Data.Enums;

@{ ViewData["Title"] = "Kế Hoạch Chế Biến";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="margin-bottom:8px; ">
                <h1>Kế Hoạch Chế Biến</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right" style="margin-bottom:5px;">
                    <div class="cold-md-6" style="float:right; ">
                        <button type="button" onclick="window.location.href='/ProcessPlans/Index'" class="btn btn-dark">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Sách</h3>
                        <div class="col-md-5" style="float:right;">
                            <form asp-action="Index" method="get">
                                <div class="form-group">
                                    <div class="cold-md-6" style="float:right; ">
                                        <button type="submit" class="btn btn-primary">Tìm</button>
                                        <button type="button" onclick="window.location.href='/ProcessPlans/Index'" class="btn btn-dark">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>