@{ ViewData["Title"] = "Kế Hoạch Chế Biến";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="margin-bottom:8px; ">
                <h1>Kế Hoạch Chế Biến</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right" style="margin-bottom:5px;">
                    <button type="button" onclick="window.location.href='/ProcessPlans/Index'" class="btn btn-dark">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!--Giao việc-->
@await Html.PartialAsync("MissionProcessPlan")
<!--Tạo kế hoạch chế biến-->
@await Html.PartialAsync("CreateProcessPlans")

<!--Show kế hoạch chế biến chờ duyệt-->
@await Html.PartialAsync("ShowProcessPlans")

<!--Show kế hoạch chế biến chờ duyệt-->
@await Html.PartialAsync("ProcessPlanAccomplished")