@{ ViewData["Title"] = "Quản Lý Mã Số";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="margin-bottom:8px; ">
                <h1>Quản Lý Mã Số</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right" style="margin-bottom:5px;">
                    <button type="button" onclick="window.location.href='/ManageCodes/Index'" class="btn btn-dark">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-4 connectedSortable">
                @await Html.PartialAsync("LeftView/ViewMaterialsType")
                @await Html.PartialAsync("LeftView/ViewMaterials")
                @await Html.PartialAsync("LeftView/ViewSupplier")
                @await Html.PartialAsync("LeftView/ViewUser")
            </section>

            <!--Middle-->
            <section class="col-lg-4 connectedSortable">
                @await Html.PartialAsync("MiddleView/ViewProductTypeGroup")
                @await Html.PartialAsync("MiddleView/ViewProductType")
                @await Html.PartialAsync("MiddleView/ViewProduct")
            </section>

            <!--Right-->
            <section class="col-lg-4 connectedSortable">
                @await Html.PartialAsync("RightView/ViewOrderPlan")
                @await Html.PartialAsync("RightView/ViewProcessPlan")
                @await Html.PartialAsync("RightView/ViewRecipe")

            </section>

            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>